<div class="champions-container">
  <h1 class="page-title">🏎 Formula 1 World Champions</h1>
  <h2 class="subtitle">(2005 - Present)</h2>

  <div *ngIf="error" class="error-message mat-elevation-z2">
    <mat-icon>error_outline</mat-icon>
    <span>{{ error }}</span>
  </div>
  <div *ngIf="isLoading" class="loading">Loading seasons...</div>

  <div *ngIf="!isLoading && !error" class="champions-grid">
    <mat-card *ngFor="let season of seasons"
              [routerLink]="['/season', season.year]"
              class="champion-card mat-elevation-z2 current-champion">

      <div class="card-header">
        <span class="season-year">{{ season.year }}</span>
        <mat-icon class="trophy-icon">emoji_events</mat-icon>
      </div>

      <div class="champion-info">
        <div class="driver-image-placeholder">
          <mat-icon class="driver-icon">directions_car</mat-icon>
        </div>

        <div class="champion-details">
          <h3 class="champion-name">{{ season.champion }}</h3>
          <div class="team-info">
            <mat-icon class="team-icon">flag</mat-icon>
            <span class="team-name">{{ season.year}}</span>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button mat-icon-button class="details-button">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>




